<section class="scroll-mt-4" id="pricing">
  <div class="px-8 md:px-12 py-12 max-w-7xl mx-auto">
    <div
      class="grid grid-cols-1 gap-px md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
    >
      <section
        class="col-span-full lg:col-span-1 bg-white flex flex-col justify-between rounded-3xl h-full text-black p-8"
      >
        <div>
          <div>
            <p class="text-2xl tracking-tighter font-medium text-black">
              Tailored design, <span class="md:block">dev and content packages</span>
            </p>
          </div>
          <p class="text-xs text-zinc-500 lg:mt-8 mt-4">
            Flexible pricing to enhance your online presence at every stage.
          </p>
        </div>
        <div>
          <div class="flex items-center gap-2 text-black">
            <p class="text-xs">5 spots available</p>
            <div class="h-2 w-2 rounded-full bg-black"></div>
            <div class="h-2 w-2 rounded-full border border-black"></div>
            <div class="h-2 w-2 rounded-full border border-black"></div>
            <div class="h-2 w-2 rounded-full border border-black"></div>
            <div class="h-2 w-2 rounded-full border border-black"></div>
            <div class="h-2 w-2 rounded-full border border-black"></div>
          </div>
          <div class="border-t border-zinc-200  flex flex-col pt-4 mt-4">
            <span class="text-xs text-zinc-500 font-normal">
              Project management with <span
                class="italic text-black font-medium">Discord</span
              >, secure payments with <span
                class="italic text-black font-medium">Stripe</span
              > and the freedom of
              <span class="italic text-black font-medium">
                Canceling your subscription anytime:</span
              >
            </span>
            <div class="inline-flex items-center gap-2 mt-4 text-black">
                <defs>
                  <clipPath id="clip0_44_18">
                    <rect width="839.614" height="179" fill="currentColor"
                    ></rect>
                  </clipPath>
                </defs>
              </svg>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M79.3058 25.8169C79.3058 20.1774 76.5741 15.7274 71.3532 15.7274C66.1102 15.7274 62.938 20.1774 62.938 25.7728C62.938 32.4037 66.6829 35.7521 72.0581 35.7521C74.6796 35.7521 76.6622 35.1573 78.1602 34.3202V29.9143C76.6622 30.6633 74.9439 31.126 72.763 31.126C70.6262 31.126 68.7317 30.377 68.4893 27.7775H79.2617C79.2617 27.4911 79.3058 26.3456 79.3058 25.8169ZM68.4233 23.7241C68.4233 21.2348 69.9433 20.1994 71.3311 20.1994C72.6749 20.1994 74.1068 21.2348 74.1068 23.7241H68.4233Z"
                  fill="currentColor"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M54.4345 15.7274C52.2756 15.7274 50.8877 16.7408 50.1167 17.4457L49.8303 16.0799H44.9839V41.7661L50.4912 40.5986L50.5132 34.3643C51.3063 34.937 52.4739 35.7521 54.4124 35.7521C58.3557 35.7521 61.9465 32.5799 61.9465 25.5966C61.9244 19.2081 58.2896 15.7274 54.4345 15.7274ZM53.1127 30.9056C51.813 30.9056 51.0419 30.443 50.5132 29.8703L50.4912 21.6974C51.064 21.0585 51.857 20.6179 53.1127 20.6179C55.1174 20.6179 56.5052 22.8649 56.5052 25.7508C56.5052 28.7027 55.1394 30.9056 53.1127 30.9056Z"
                  fill="currentColor"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M37.4057 14.4277L42.935 13.2381V8.76611L37.4057 9.93367V14.4277Z"
                  fill="currentColor"></path>
                <path
                  d="M42.935 16.1019H37.4057V35.3776H42.935V16.1019Z"
                  fill="currentColor"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M31.4795 17.7321L31.1271 16.1019H26.3687V35.3776H31.8761V22.3142C33.1758 20.6179 35.3787 20.9263 36.0616 21.1686V16.1019C35.3567 15.8375 32.7793 15.3529 31.4795 17.7321Z"
                  fill="currentColor"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M20.465 11.3215L15.0899 12.467L15.0679 30.1125C15.0679 33.3729 17.5131 35.7741 20.7735 35.7741C22.5799 35.7741 23.9016 35.4436 24.6286 35.0471V30.5751C23.9237 30.8615 20.443 31.8749 20.443 28.6145V20.7941H24.6286V16.1019H20.443L20.465 11.3215Z"
                  fill="currentColor"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M5.57342 21.6974C5.57342 20.8383 6.27836 20.5078 7.44592 20.5078C9.12015 20.5078 11.235 21.0145 12.9092 21.9177V16.7408C11.0808 16.0138 9.27435 15.7274 7.44592 15.7274C2.97396 15.7274 0 18.0626 0 21.9618C0 28.0418 8.37115 27.0726 8.37115 29.694C8.37115 30.7074 7.48998 31.0378 6.25633 31.0378C4.4279 31.0378 2.09279 30.2888 0.242322 29.2755V34.5185C2.29105 35.3996 4.36181 35.7742 6.25633 35.7742C10.8384 35.7742 13.9886 33.5051 13.9886 29.5619C13.9666 22.9971 5.57342 24.1647 5.57342 21.6974Z"
                  fill="currentColor"></path>
              </svg>
            </div>
          </div>
        </div>
      </section>
      <section
        class="bg-white flex flex-col justify-between rounded-3xl h-full text-black p-8"
      >
        <div>
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
              <div class="flex justify-between items-center">
                <p class="text-lg text-black">Design + Dev</p>
                <div class="flex gap-1">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="flex-none h-4 w-4"
                    viewBox="0 0 12 13"
                    fill="none"
                    ><g clip-path="url(#clip0_247_311)"
                      ><path
                        d="M3.9502 12.5C5.0542 12.5 5.9502 11.604 5.9502 10.5V8.5H3.9502C2.8462 8.5 1.9502 9.396 1.9502 10.5C1.9502 11.604 2.8462 12.5 3.9502 12.5Z"
                        fill="#0ACF83"></path><path
                        d="M1.9502 6.5C1.9502 5.396 2.8462 4.5 3.9502 4.5H5.9502V8.5H3.9502C2.8462 8.5 1.9502 7.604 1.9502 6.5Z"
                        fill="#A259FF"></path><path
                        d="M1.9502 2.5C1.9502 1.396 2.8462 0.5 3.9502 0.5H5.9502V4.5H3.9502C2.8462 4.5 1.9502 3.604 1.9502 2.5Z"
                        fill="#F24E1E"></path><path
                        d="M5.9502 0.5H7.9502C9.0542 0.5 9.9502 1.396 9.9502 2.5C9.9502 3.604 9.0542 4.5 7.9502 4.5H5.9502V0.5Z"
                        fill="#FF7262"></path><path
                        d="M9.9502 6.5C9.9502 7.604 9.0542 8.5 7.9502 8.5C6.8462 8.5 5.9502 7.604 5.9502 6.5C5.9502 5.396 6.8462 4.5 7.9502 4.5C9.0542 4.5 9.9502 5.396 9.9502 6.5Z"
                        fill="#1ABCFE"></path></g
                    ><defs
                      ><clipPath id="clip0_247_311"
                        ><rect
                          width="12"
                          height="12"
                          fill="currentColor"
                          transform="translate(0 0.5)"></rect></clipPath
                      ></defs
                    ></svg
                  >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="flex-none h-4 stroke-current w-4 text-black"
                    viewBox="0 0 100 100"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    ><path
                      d="M63.3694 5.33018C64.129 6.27325 64.5164 7.54562 65.291 10.0906L82.215 65.6862C75.8581 62.3873 69.0351 60.0773 61.9815 58.836L50.9623 21.5986C50.8744 21.3015 50.6928 21.0408 50.4445 20.8556C50.1962 20.6704 49.8945 20.5705 49.5848 20.571C49.275 20.5715 48.9737 20.6723 48.7259 20.8583C48.4782 21.0443 48.2974 21.3055 48.2105 21.6029L37.3247 58.8172C30.2392 60.0528 23.3848 62.3665 17 65.6778L34.0071 10.0776C34.7842 7.53708 35.1728 6.26679 35.9324 5.32559C36.603 4.49465 37.4753 3.84929 38.466 3.45101C39.5884 3 40.9167 3 43.5734 3H55.7208C58.381 3 59.7111 3 60.8344 3.45205C61.8261 3.85109 62.6988 4.49772 63.3694 5.33018Z"
                      fill="currentColor"
                      clip-rule="evenodd"
                      fill-rule="evenodd"></path><path
                      d="M65.3945 68.3321C62.6045 70.7178 57.0359 72.3448 50.6215 72.3448C42.7487 72.3448 36.15 69.8938 34.399 66.5975C33.773 68.4867 33.6327 70.6488 33.6327 72.03C33.6327 72.03 33.2203 78.812 37.9374 83.5291C37.9374 81.0797 39.9229 79.0942 42.3722 79.0942C46.5704 79.0942 46.5657 82.7568 46.5619 85.7284L46.5616 85.9936C46.5616 90.5039 49.3182 94.3703 53.2386 96C52.6531 94.7957 52.3246 93.4433 52.3246 92.0141C52.3246 87.7124 54.85 86.1107 57.7851 84.2492C60.1204 82.7681 62.7151 81.1226 64.5033 77.8215C65.4364 76.0991 65.9662 74.1264 65.9662 72.03C65.9662 70.7407 65.7658 69.4982 65.3945 68.3321V68.3321Z"
                      fill="currentColor"
                      clip-rule="evenodd"
                      fill-rule="evenodd"
                      stroke="black"></path></svg
                  ><svg
                    class="flex-none h-4 stroke-current w-4"
                    viewBox="0 0 256 154"
                    aria-label="Tailwind CSS"
                    astro-icon="logos:tailwindcss-icon"
                    height="64"
                    width="64"
                    ><path
                      d="M128 0C93.867 0 72.533 17.067 64 51.2 76.8 34.133 91.733 27.733 108.8 32c9.737 2.434 16.697 9.999 24.401 17.318C145.751 62.057 160.275 76.8 192 76.8c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.999-24.401-17.318C174.249 14.743 159.725 0 128 0zM64 76.8C29.867 76.8 8.533 93.867 0 128c12.8-17.067 27.733-23.467 44.8-19.2 9.737 2.434 16.697 9.999 24.401 17.318C81.751 138.857 96.275 153.6 128 153.6c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.999-24.401-17.318C110.249 91.543 95.725 76.8 64 76.8z"
                      fill="#38bdf9"
                      stroke="#38bdf9"></path></svg
                  >
                </div>
              </div>
              <p class="text-xl font-medium text-black mt-2">
                $999<span class="text-sm text-zinc-500 ml-2">/monthly</span>
                <span class="text-black block text-xs">USD + Local tax</span>
              </p>
            </div>
            <p class="text-sm text-zinc-500 mt-4">
              Ideal for startups requiring design and development
              services.
            </p>
          </div>
          <div class="mt-6">
            <p class="text-sm uppercase text-black">Same as in Design plus:</p>
            <ul
              class="flex flex-col mt-4 text-sm text-black gap-y-2"
              role="list"
            >
              <li class="flex items-start gap-2">
                ⏤<span> Astro & Tailwind Code</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span>Clean & accessible code</span>
              </li><li class="flex flex-row items-center gap-2">
                ⏤<span>Essential SEO</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span>Support &amp; maintenance</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="mt-8">
          <a
            class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-zinc-500 h-10 border-zinc-300 focus:ring-2 shadow-zinc-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-zinc-200 hover:bg-black hover:text-white duration-300"
            href="https://cal.com/sayak-bhunia-efdxll/secret"
            >Get started <span>&rarr;</span></a
          >
        </div>
      </section>
      <section
        class="bg-white flex flex-col justify-between rounded-3xl h-full text-black p-8"
      >
        <div>
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
              <div class="flex justify-between items-center">
                <p class="text-lg text-black">Design</p>
                <div class="flex gap-1">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="flex-none h-4 w-4"
                    viewBox="0 0 12 13"
                    fill="none"
                    ><g clip-path="url(#clip0_247_311)"
                      ><path
                        d="M3.9502 12.5C5.0542 12.5 5.9502 11.604 5.9502 10.5V8.5H3.9502C2.8462 8.5 1.9502 9.396 1.9502 10.5C1.9502 11.604 2.8462 12.5 3.9502 12.5Z"
                        fill="#0ACF83"></path><path
                        d="M1.9502 6.5C1.9502 5.396 2.8462 4.5 3.9502 4.5H5.9502V8.5H3.9502C2.8462 8.5 1.9502 7.604 1.9502 6.5Z"
                        fill="#A259FF"></path><path
                        d="M1.9502 2.5C1.9502 1.396 2.8462 0.5 3.9502 0.5H5.9502V4.5H3.9502C2.8462 4.5 1.9502 3.604 1.9502 2.5Z"
                        fill="#F24E1E"></path><path
                        d="M5.9502 0.5H7.9502C9.0542 0.5 9.9502 1.396 9.9502 2.5C9.9502 3.604 9.0542 4.5 7.9502 4.5H5.9502V0.5Z"
                        fill="#FF7262"></path><path
                        d="M9.9502 6.5C9.9502 7.604 9.0542 8.5 7.9502 8.5C6.8462 8.5 5.9502 7.604 5.9502 6.5C5.9502 5.396 6.8462 4.5 7.9502 4.5C9.0542 4.5 9.9502 5.396 9.9502 6.5Z"
                        fill="#1ABCFE"></path></g
                    ><defs
                      ><clipPath id="clip0_247_311"
                        ><rect
                          width="12"
                          height="12"
                          fill="currentColor"
                          transform="translate(0 0.5)"></rect></clipPath
                      ></defs
                    ></svg
                  >
                </div>
              </div>
              <p class="text-xl font-medium text-black mt-2">
                $799<span class="text-sm text-zinc-500 ml-2">/monthly</span>
                <span class="text-black block text-xs">USD + Local tax</span>
              </p>
            </div>
            <p class="text-sm text-zinc-500 mt-4">
              Ideal for emerging businesses requiring continuous design
              assistance.
            </p>
          </div>
          <div class="mt-6">
            <p class="text-sm uppercase text-black">What you get:</p>
            <ul
              class="flex flex-col mt-4 text-sm text-black gap-y-2"
              role="list"
            >
              <li class="flex items-start gap-2">
                ⏤
                <span>Design in Figma</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span>1 request at the time</span>
              </li><li class="flex flex-row items-center gap-2">
                ⏤<span>Unlimited feedback</span>
              </li><li class="flex flex-row items-center gap-2">
                ⏤<span>Delivery within 2-3 days</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="mt-8">
          <a
            class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-zinc-500 h-10 border-zinc-300 focus:ring-2 shadow-zinc-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-zinc-200 hover:bg-black hover:text-white duration-300"
            href="https://cal.com/sayak-bhunia-efdxll/secret"
            >Get started <span>&rarr;</span></a
          >
        </div>
      </section>
      <section
        class="bg-white flex flex-col justify-between rounded-3xl h-full text-black p-8"
      >
        <div>
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
              <div class="flex justify-between items-center">
                <p class="text-lg text-black">One off</p>
                <div>
                  <div class="flex gap-3">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="flex-none h-4 w-4"
                      viewBox="0 0 12 13"
                      fill="none"
                      ><g clip-path="url(#clip0_247_311)"
                        ><path
                          d="M3.9502 12.5C5.0542 12.5 5.9502 11.604 5.9502 10.5V8.5H3.9502C2.8462 8.5 1.9502 9.396 1.9502 10.5C1.9502 11.604 2.8462 12.5 3.9502 12.5Z"
                          fill="#0ACF83"></path><path
                          d="M1.9502 6.5C1.9502 5.396 2.8462 4.5 3.9502 4.5H5.9502V8.5H3.9502C2.8462 8.5 1.9502 7.604 1.9502 6.5Z"
                          fill="#A259FF"></path><path
                          d="M1.9502 2.5C1.9502 1.396 2.8462 0.5 3.9502 0.5H5.9502V4.5H3.9502C2.8462 4.5 1.9502 3.604 1.9502 2.5Z"
                          fill="#F24E1E"></path><path
                          d="M5.9502 0.5H7.9502C9.0542 0.5 9.9502 1.396 9.9502 2.5C9.9502 3.604 9.0542 4.5 7.9502 4.5H5.9502V0.5Z"
                          fill="#FF7262"></path><path
                          d="M9.9502 6.5C9.9502 7.604 9.0542 8.5 7.9502 8.5C6.8462 8.5 5.9502 7.604 5.9502 6.5C5.9502 5.396 6.8462 4.5 7.9502 4.5C9.0542 4.5 9.9502 5.396 9.9502 6.5Z"
                          fill="#1ABCFE"></path></g
                      ><defs
                        ><clipPath id="clip0_247_311"
                          ><rect
                            width="12"
                            height="12"
                            fill="currentColor"
                            transform="translate(0 0.5)"></rect></clipPath
                        ></defs
                      ></svg
                    >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="flex-none h-4 stroke-current w-4 text-black"
                      viewBox="0 0 100 100"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      ><path
                        d="M63.3694 5.33018C64.129 6.27325 64.5164 7.54562 65.291 10.0906L82.215 65.6862C75.8581 62.3873 69.0351 60.0773 61.9815 58.836L50.9623 21.5986C50.8744 21.3015 50.6928 21.0408 50.4445 20.8556C50.1962 20.6704 49.8945 20.5705 49.5848 20.571C49.275 20.5715 48.9737 20.6723 48.7259 20.8583C48.4782 21.0443 48.2974 21.3055 48.2105 21.6029L37.3247 58.8172C30.2392 60.0528 23.3848 62.3665 17 65.6778L34.0071 10.0776C34.7842 7.53708 35.1728 6.26679 35.9324 5.32559C36.603 4.49465 37.4753 3.84929 38.466 3.45101C39.5884 3 40.9167 3 43.5734 3H55.7208C58.381 3 59.7111 3 60.8344 3.45205C61.8261 3.85109 62.6988 4.49772 63.3694 5.33018Z"
                        fill="currentColor"
                        clip-rule="evenodd"
                        fill-rule="evenodd"></path><path
                        d="M65.3945 68.3321C62.6045 70.7178 57.0359 72.3448 50.6215 72.3448C42.7487 72.3448 36.15 69.8938 34.399 66.5975C33.773 68.4867 33.6327 70.6488 33.6327 72.03C33.6327 72.03 33.2203 78.812 37.9374 83.5291C37.9374 81.0797 39.9229 79.0942 42.3722 79.0942C46.5704 79.0942 46.5657 82.7568 46.5619 85.7284L46.5616 85.9936C46.5616 90.5039 49.3182 94.3703 53.2386 96C52.6531 94.7957 52.3246 93.4433 52.3246 92.0141C52.3246 87.7124 54.85 86.1107 57.7851 84.2492C60.1204 82.7681 62.7151 81.1226 64.5033 77.8215C65.4364 76.0991 65.9662 74.1264 65.9662 72.03C65.9662 70.7407 65.7658 69.4982 65.3945 68.3321V68.3321Z"
                        fill="currentColor"
                        clip-rule="evenodd"
                        fill-rule="evenodd"
                        stroke="black"></path></svg
                    ><svg
                      class="flex-none h-4 stroke-current w-4"
                      viewBox="0 0 256 154"
                      aria-label="Tailwind CSS"
                      astro-icon="logos:tailwindcss-icon"
                      height="64"
                      width="64"
                      ><path
                        d="M128 0C93.867 0 72.533 17.067 64 51.2 76.8 34.133 91.733 27.733 108.8 32c9.737 2.434 16.697 9.999 24.401 17.318C145.751 62.057 160.275 76.8 192 76.8c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.999-24.401-17.318C174.249 14.743 159.725 0 128 0zM64 76.8C29.867 76.8 8.533 93.867 0 128c12.8-17.067 27.733-23.467 44.8-19.2 9.737 2.434 16.697 9.999 24.401 17.318C81.751 138.857 96.275 153.6 128 153.6c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.999-24.401-17.318C110.249 91.543 95.725 76.8 64 76.8z"
                        fill="#38bdf9"
                        stroke="#38bdf9"></path></svg
                    >
                  </div>
                </div>
              </div>
              <p class="text-xl font-medium text-black mt-2">
                $499
                <span class="text-black block text-xs">USD + Local tax</span>
              </p>
            </div>
            <p class="text-sm text-zinc-500 mt-4">
              For anyone who only needs a quick landing page or just a quick
              redesign!
            </p>
          </div>
          <div class="mt-6">
            <p class="text-sm uppercase text-black">What you get:</p>
            <ul
              class="flex flex-col mt-4 text-sm text-black gap-y-2"
              role="list"
            >
              <li class="flex items-start gap-2">
                ⏤<span> 2-3 days turnaround time</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span> Design or development</span>
              </li>
              <li class="flex items-start gap-2">
                ⏤<span> 1 revisions included</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="mt-8">
          <a
            class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-zinc-500 h-10 border-zinc-300 focus:ring-2 shadow-zinc-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-zinc-200 hover:bg-black hover:text-white duration-300"
            href="https://cal.com/sayak-bhunia-efdxll/secret"
            >Get started <span>&rarr;</span></a
          >
        </div>
      </section>
      <section
        class="h-full p-8 flex flex-col col-span-full md:col-span-1 xl:col-span-2 justify-between order-last md:order-none bg-white rounded-3xl"
      >
        <p class="text-lg text-black lg:text-xl">Good to know</p>
        <div class="mt-4">
          <p class="text-xs text-zinc-500 font-normal">
            Kaizen-Labs specializes in design and development, excluding
            <span class="text-black italic font-medium"> design system</span>,
            <span class="text-black italic font-medium"> 3D</span>,
            <span class="text-black italic font-medium"> prototypes</span>,
            <span class="text-black italic font-medium"> mobile apps</span>,
            <span class="text-black italic font-medium"> illustrations</span>,
            <span class="text-black italic font-medium"> CMS</span>,
            <span class="text-black italic font-medium"> back-end</span>,
            <span class="text-black italic font-medium"> hosting</span>,
            <span class="text-black italic font-medium"> marketing</span>,
            <span class="text-black italic font-medium"> copywriting</span>,
            <span class="text-black italic font-medium"> animations</span> &
            <span class="text-black italic font-medium">
              complex creations</span
            >
            from Kaizen-Labs.
          </p>
          <div class="border-t border-zinc-200  flex flex-col pt-4 mt-4">
            <p class="text-xs text-zinc-400">
              Kaizen-Labs speaks English, Bengali, Hindi & Japanese. Feel free to
              choose!
            </p>
          </div>
        </div>
      </section>
      <section
        class="h-full rounded-3xl justify-between col-span-full lg:col-span-1 xl:col-span-2 bg-white p-8"
      >
        <div class="flex flex-col justify-between h-full">
          <div>
            <div
              class="flex flex-col lg:flex-row lg:items-center lg:justify-between"
            >
              <p class="text-lg text-black lg:text-xl">Book an intro call</p>
            </div>
            <p class="text-xs text-zinc-500 mt-4">
              If not sure, you can book an intro call to learn more about
              Kaizen-Labs.
            </p>
          </div>
          <div class="flex flex-col mt-4">
            <a
              href="https://cal.com/sayak-bhunia-efdxll/secret"
              class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-zinc-500 h-10 border-zinc-300 focus:ring-2 shadow-zinc-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-zinc-200 hover:bg-black hover:text-white duration-300"
            >
              Book a call
              <span>&rarr;</span>
            </a>
          </div>
          <div class="border-t border-zinc-200  flex flex-col pt-4 mt-4">
            <p class="text-xs text-zinc-400">( Asia/Kolkata ) Time</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
