<footer class="overflow-hidden">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div class="flex flex-col gap-4">
      <div>
        <h3 class="text-black text-base lg:text-xl">Navigation</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a href="#work" class="hover:text-black"> Work</a>
          </li>
          <li>
            <a href="#how" class="hover:text-black"> How it works</a>
          </li>
          <li>
            <a href="#pricing" class="hover:text-black"> Pricing</a>
          </li>
          <li>
            <a href="#faq" class="hover:text-black"> FAQ</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-black text-base lg:text-xl">Projects</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a href="https://bon-appetit-website.vercel.app/" class="hover:text-black">Bon Appetit</a>
            <a href="https://snapsearch.streamlit.app/" class="hover:text-black">SnapSearch</a>
            <a href="https://devdojo.vercel.app/" class="hover:text-black">DevDojo</a>
            <a href="https://medwizard.vercel.app/" class="hover:text-black">Medwiz</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-black text-base lg:text-xl">Resources</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a href="#_" class="hover:text-black">
              Discord
            </a>
          </li>
          <li>
            <a href="_#" class="hover:text-black"> Stripe</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-black text-base lg:text-xl">Socials</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a href="https://x.com/hashmap_uh" class="hover:text-black">@hashmap_uh</a>
            <a href="https://www.linkedin.com/in/sayak-bhunia-452419252/" class="hover:text-black">Sayak Bhunia</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <nav class="flex flex-col lg:flex-row gap-8">
      <p class="text-sm text-black">
        © 2023 minimal Design. All rights reserved
      </p>
    </nav>
    <section class="gap-x-8 gap-y-6 mt-6">
      <div>
        <p class="text-sm text-zinc-500 lg:col-span-2">
          Kaizen-Labs is not affiliated with Stripe, Discord, Astro, React, Next or Tailwind
          Labs, nor is it endorsed or sponsored by them. Designed and built by
          <a
            href="https://www.sayakbhunia.xyz/"
            class="text-sm text-black hover:text-blue-300"
            >Sayak Bhunia</a
          >, 
        </p>
      </div>
    </section>
  </div>
</footer>
